@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes pulse-border {
  0% {
    filter: blur(4px);
    opacity: 0.7;
  }

  50% {
    filter: blur(8px);
    opacity: 1;
  }

  100% {
    filter: blur(4px);
    opacity: 0.7;
  }
}

.animate-pulse-border {
  animation: pulse-border 3s infinite ease-in-out;
}

@keyframes line-dash {
  to {
    stroke-dashoffset: 0;
  }
}

.animate-line-dash {
  animation: line-dash 3s ease-out forwards;
}
